body {
  margin: 0;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 22px;
  text-align: justify;
}

h1 {
  font-family: 'Fredericka the Great', cursive;
  font-weight: normal;
}

h2 {
  text-transform: uppercase;
  /* font-weight: normal; */
}

svg {
  z-index: 100;
}

p a {
  /* color: #917657; */
  background: #0B7499;
  color: #fff;
  text-decoration: none;
  padding: 2px 2px 0;
  transition: 500ms;
}
p a:hover {
    background: transparent;
    color: #0B7499;
    text-decoration: underline;
  }

@media (min-width: 600px) {
  section {
    position: relative;
    height: 100vh;
    width: 100vw;
  }
  section > h2 {
    display: none;
  }
}

section > h2 {
    padding: 10px;
    margin: 0;
  }